NODE_ENV=dev
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/formulus
AWS_REGION=us-east-2
QUEUE_URL=http://localhost:4566/000000000000/backtest-jobs
AWS_ENDPOINT_URL=http://localhost:4566
ALPHA_VANTAGE_API_KEY=
