ALPHA_VANTAGE_API_KEY=
NODE_ENV=
PORT=
CORS_ORIGIN=
DATABASE_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
QUEUE_URL=
AWS_REGION=
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
COHERE_API_KEY=
COHERE_MODEL=
