NODE_ENV=dev
PORT=8080
CORS_ORIGIN=http://localhost:4040
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/formulus
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
QUEUE_URL=http://localhost:4566/000000000000/backtest-jobs
AWS_REGION=us-east-2
AWS_ENDPOINT_URL=http://localhost:4566
COHERE_API_KEY=
COHERE_MODEL=command-r7b-12-2024
STRIPE_API_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
REDIS_URL=redis://localhost:6379/
AWS_ACCESS_KEY_ID=local_dev_dummy_key
AWS_SECRET_ACCESS_KEY=local_dev_dummy_key
